html, body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.el-menu-item, .el-submenu__title {
  height: 46px !important;
  line-height: 46px !important;
}
/*
.el-submenu__title:hover, .el-menu-item:hover {
  background-color: #4a5064 !important;
}*/

.logo-hl{
  background-size: 120px 50px;
  background-image: url("../svg/logos.svg");
  width: 120px;
  height: 50px;
  display: inline-block;
  float: left;
  line-height: 26px;

}
.el-tabs__content{
  padding: 0 !important;
}
.el-tabs__nav-scroll{
  margin-right: -1px;
}

/*重新设置textarea属性*/
.el-textarea__inner{
  color: #ff9d00 !important;
  height: 406px;
  border: 0 !important;
  overflow: auto;
  font-size: 12px !important;
  background-color:#004444 !important;
  font-family: 'Consolas';
  padding: 5px 10px !important;
}
/* 解决表格与表头错位问题 */
body .el-table th.gutter{display: table-cell!important;}
.el-table{ font-size: 12px !important; border:1px solid #e5e5e5;}
.el-table--fit {border-right: 1px solid #e5e5e5 !important;}
.el-table td{padding: 2px 0 !important;}/*表格行间距*/
.el-table th{padding: 7px 0 !important; background-color: #8c939d !important;}
.el-table thead{color: #2e2e2e !important; font-size: 12px}
.el-pagination{background-color: #ffffff;border: 1px solid #e5e5e5;border-top: 0}

.log-lv-title{color: #e7e7ea;}
.log-lv-info{color: #3dd83d;}
.log-lv-warn{color: #ffff00;}
.log-lv-error{color: #ff4949;}

/* dialog弹窗样式 */
.el-dialog__header{
  border-bottom: 1px solid #c2c2c2;
  padding: 5px 20px 5px !important;
}
.el-dialog__title {
  font-size: 14px !important;
}
.el-dialog__headerbtn {
  top: 10px !important;
  right: 10px !important;
}
.el-dialog__footer {
  padding: 10px 15px 10px !important;
}



